<div class="container">

    <form #register="ngForm" (ngSubmit)="userRegister(register.value)" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="name" name="name" id="inputName" class="form-control" placeholder="Name" required autofocus ngModel>
        <br />
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ngModel>
        <br />
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required ngModel>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>